<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Delete</title>
</head>
<body>
	<p>Choose a car to delete: </p>
	<form action="" th:action="@{/delete}" th:object="${Car}" method="post">
		<div class="form-group w-50 mx-auto d-block">
		      <label for="inputCar">Manufacturer</label>
		      	<select id="inputCar" class="form-control" name="carID" required>
		        	<option selected value="" disabled>Choose...</option>
		        	<option th:each="car:${CarList}" 
		        			th:text="${car.carID}"
		        			th:value="${car.carID}">		        			
        			</option>		
		      	</select>
	   	</div>
		<button>Delete</button>
		
<!-- 		 -->
	</form>
	
	
</body>
</html>