<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<p>You are editing car with id : <span th:text="${Car.carID}"></span> </p>
	<form action="" th:action="@{/update}" th:object="${Car}" method="post">
		<input type="hidden" name="carID" th:field="*{carID}"><br>
		Model:<input type="text" name="carModel" th:field="*{carModel}"><br>
		Price:<input type="number" name="price" th:field="*{price}">
		<!-- add helpers below to explain what to do -->
		<button>Update</button>
	</form>
</body>
</html>